graia-ariadne==0.0.1
Pillow==8.3.2
graia-saya==0.0.7
json5==0.9.6
openai==0.27.0
random2==1.0.1
selenium==4.5.0
beautifulsoup4==4.10.0
requests==2.26.0
multiprocessing==2.6.2.1
subprocess.run==0.0.8
typing==3.10.0.2
pyncm==0.1.5
datetime==4.3
textwrap3==0.9.2
openai==0.27.0
requests==2.26.0
pkgutil3==1.0.0
creart==0.1.2
graia-ariadne==0.0.1
graia-saya==0.0.7
